node_modules
.vscode
.idea
node_modules/
.env
server/pouchdb
server/log.txt
server/config.json
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
app/.pio
app/.vscode/.browse.c_cpp.db*
app/.vscode/c_cpp_properties.json
app/.vscode/launch.json
app/.vscode/ipch
app/venv
server/node_modules/
server/.env
server/pouchdb
server/log.txt
client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
*.log
client/dist
client/.cache

server/lib
.vscode
